:root {
  --main-text-color: #757575;
  --dark-bg-text-color: #ffffff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --dark-bg-color: #2f303a;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --bg-color: #f5f4fa;
  --bg-portfo: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--bg-portfo);
}

.nav {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.web-studio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.blue {
  color: var(--accent-color);
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.hide-title {
  visibility: hidden;
}

.list {
  list-style: none;
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  color: var(--dark-bg-text-color);
  background-color: var(--accent-color);
}

.button-portfolio {
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background-color: var(--bg-color);
}

.page-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
}

.bg-color-section {
  background-color: var(--bg-color);
}

.list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.title-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  text-transform: uppercase;
  color: var(--title-color);
}

.title-projects-portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.project-placement {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.name {
  color: var(--title-color);
}

.profession-team {
  font-weight: normal;
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header .current {
  color: var(--accent-color);
}

.dark-bg {
  background-color: var(--dark-bg-color);
  color: var(--dark-bg-text-color);
}

.dark-bg .page-title {
  color: var(--dark-bg-text-color);
}

.contacts {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address {
  color: var(--dark-bg-text-color);
}

.contacts-color {
  color: var(--contacts-color);
}
